<template name="sensorCollect">
    <table>
        <tr>
            <td>Event Supported</td>
            <td id="doEvent"></td>
        </tr>
        <tr>
            <td>[x]</td>
            <td id="doTiltLR">{{accelerometer.x}}</td>
        </tr>
        <tr>
            <td>[z]</td>
            <td id="doTiltFB">{{accelerometer.z}}</td>
        </tr>
        <tr>
            <td>[y]</td>
            <td id="doDirection">{{accelerometer.y}}</td>
        </tr>
    </table>
    <hr/>
    <div style="width: 200px;height: 200px;background: #000000;transform: perspective(600px) rotateY({{accelerometer.x}}deg) rotatex({{accelerometer.y}}deg) rotateZ({{accelerometer.z}}deg);">
        <img src="/test.jpg" alt="" style="width: 100%;height: 100%;transform: perspective(100px) rotateZ(90deg)"/>
    </div>
</template>