<template name="sensorCollect">
    <h2>Device Orientation</h2>
    <table>
        <tr>
            <td>Event Supported</td>
            <td id="doEvent"></td>
        </tr>
        <tr>
            <td>Tilt Left/Right [gamma]</td>
            <td id="doTiltLR">{{gamma}}</td>
        </tr>
        <tr>
            <td>Tilt Front/Back [beta]</td>
            <td id="doTiltFB">{{beta}}</td>
        </tr>
        <tr>
            <td>Direction [alpha]</td>
            <td id="doDirection">{{alpha}}</td>
        </tr>
    </table>
</template>